{% extends 'base.html.twig' %}
{% block body %}
<div class="brand clearfix">
    <a href="{{"/"}}" class="logo"><img src="bundles/bootstrap/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">
      <li><a href="{{"/help"}}">Help</a></li>
      
      <li class="ts-account"><a href="{{"/login"}}">login</a></li>
    </ul>
</div>




<div class="content-wrapper">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">


             <h2 class="page-title">CARREFOUR MARKET</h2>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="content-format">
                      <h2><code>HELP</code></h2>
                      <br/>
                      <h3 class="page-title"> Connexion à votre espace personnel:</h3>
                      <p><strong>il faut utilise votre nom -> username et  prenom -> mot de passe <br>
                                            </strong></p>

                       <h3 class="page-title"> Utilisation des modules disponibles:</h3>
                        <p><strong>Vous trouverez la discription de chaqu'un des modules disponible dans la page  <a href="{{"/"}}"> d'acceuil </a> </strong></p>
                         <h3 class="page-title"> Autre question :</h3>
                         <p><strong>Merci de cantacter les administrateurs  <a href="{{"/contact"}}"> Ici </a> </strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
           

        <div class="row">
          <div class="clearfix pt pb">
            <div class="col-md-12">
              <em>This Project create by <a href="{{"/contact"}}"> OUALITEN Belkacem </a> And <a href="{{"/contact"}}">CHELBI Bachir</a></em>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}
