{% extends 'base.html.twig' %}
{% block body %}
<div class="brand clearfix">
    <a href="{{"/"}}" class="logo"><img src="bundles/bootstrap/img/logo.jpg" class="img-responsive" alt=""></a>
    <span class="menu-btn"><i class="fa fa-bars"></i></span>
    <ul class="ts-profile-nav">
      <li><a href="{{"/help"}}">Help</a></li>
      <li><a href="{{"/settings"}}">Settings</a></li>
      <li class="ts-account"><a href="{{"/login"}}">login</a></li>
    </ul>
</div>

<div class="ts-main-content">
  <nav class="ts-sidebar">
    <ul class="ts-sidebar-menu">
      <li class="ts-label">Main</li>
      <li><a href="{{"/1"}}"><i class="fa fa-dashboard"></i> Description de l'entreprise</a></li>
      <li class="open"><a href="{{"/"}}"><i class="fa fa-desktop"></i> Modules disponibles</a>
        <ul>
          <li class="open"><a href="{{"/2"}}">Gestion des gongés</a></li>
          <li><a href="{{"/3"}}">Gestion des formations</a></li>
          <li><a href="{{"/4"}}">Gestion des recrutements</a></li>
          <li><a href="{{"/5"}}">Forum de discussions interne</a></li>
          <li><a href="{{"/6"}}">Génération de statistiques</a></li>
          <li><a href="{{"/7"}}">Générateur de fiche de paie</a></li>
        </ul>
      </li>
    </ul>
  </nav>

<div class="content-wrapper">
      <div class="container-fluid">

        <div class="row">
          <div class="col-md-12">
          
           
             <h2 class="page-title">Settings </h2>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="content-format">
                      <h2>Espace de travaile pour la gestion des ressources humaines   <code>carrefour market</code></h2>
                      <br/>
                      <p><strong>Carrefour Market</strong>, ou <strong>Market</strong> est une enseigne française de supermarchés, apparue en octobre 2007, appartenant au groupe Carrefour, disposant d'environ un millier de points de vente en France.</p>
<p>Depuis 2011, le groupe <strong>Carrefour</strong> a décidé de déployer cette enseigne <strong>Carrefour Market</strong> à travers le monde pour l'ensemble de ses supermarchés dont la surface oscille principalement entre <abbr title="surface">1 000 et 5 000 m2.</abbr></p>
<p>Selon l'ancien PDG de<strong> Carrefour</strong>, <em>José Luis Duran</em>,<small> « C'est d'abord un projet commercial pour attirer le client, gagner en notoriété, améliorer notre performance commerciale et augmenter le chiffre d'affaires au mètre carré. Dans tous les autres pays, le passage à l'enseigne Carrefour nous a conduit à augmenter le chiffre d'affaires et gagner des parts de marché. Nous avons aussi constaté une amélioration de la satisfaction du client ».</small> </p>


                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="page-title"> Les modules disponibles :</h3>
            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Gestion des congnes</div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Gestion des formations</div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Gestion des recrutements</div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Forum</div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Generation de statistiques </div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">Generateur de fiche de paie</div>
                  <div class="panel-body">
                    <h2>Emphasis classes</h2>
                    <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                    <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                    <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                    <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                    <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
                  </div>
                </div>
              </div>

            </div>            

            

          </div>
        </div>
        
        <div class="row">
          <div class="clearfix pt pb">
            <div class="col-md-12">
              <em>This Project create by <a href="{{"/contact"}}"> OUALITEN Belkacem </a> And <a href="{{"/contact"}}">CHELBI Bachir</a></em>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}
